
    {% assign collection = collections[section.settings.collection] %} 
   {% for product in collection.products %}
   <div style="display:inline-block; padding: 10px; text-align:center">
      <ul style="list-style:none; align-items:center">
         <li>
            <a href="{{product.url}}" style="text-decoration: none !important;color:black">{{ product.title }}</a> 
         </li>
         <li>
             <img src="{{ product | image_url: width: 70, height: 70 }}" alt="{{product.title}} - {{product.id}}">
         </li>
         <li>
             {{product.price}}
        
         </li>
      </ul>
   </div>
   {% endfor %}

   <h1> {{section.settings.rich_text}}</h1>

   {% schema %}
   {
      "name": "productsgrid",
      "settings": [
         {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
         },
         {
            "type": "text",
            "id": "rich_text",
            "label": "Texto predeterminado"
         }
      ]
   }
   {% endschema %}




